NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://biobalance_app:local-app-only@localhost:54329/biobalance
ACTIVATION_URL=
RECOVERY_URL=
MEDIA_ROOT=../../.volumes/media
SMTP_HOST=127.0.0.1
SMTP_PORT=1029
SMTP_FROM=BioBalance <no-reply@localhost>
MFA_ENCRYPTION_KEY=
